body {
  	background: url("assets/restaurant_image.jpg") no-repeat;
  	background-size: cover;
  	background-position: right-bottom;
  	background-attachment: fixed;
  	margin: 0px;
  	text-align: center;
  	padding-top: 100px; }

#logo {
	margin: 0%;
	margin: center; }

.links {
	display: inline-block; 
	list-style: none;
	width: 584px; 
	padding-right: 50px; }	

h1 {
	font-size: 35px;
	font-family: 'Rokkitt', serif;
	font-weight: 700;
	color: white; }

hr {
	background-color: #FFF;
  	border: none;
  	width: 100px;
  	height: 2px;
  	margin-top: 20px;
  	margin-bottom: 20px; } 	

p {
	font-family: 'Roboto', sans-serif;
	text-align: center;
	font-size: 14px;
	font-weight: 400;
	color: #FFF; }

footer {
	padding-top: 40px;
	font-size: 12px;
	font-weight: 400;
	color: #FFF; }	
