body {
  	background: url("imgs/stripes1.png") repeat-x, url("imgs/background.jpg") no-repeat;
  	background-color: #535a6a;
  	background-size: 801px, cover;
  	background-position: right-bottom;
  	background-attachment: local;
  	margin: 0px;
  	text-align: left;
}

#content {
	margin-top: 200px;
	margin-left: 100px;
	padding: 20px;
}

hr {
  	background-color: #ff706e;
  	border: none;
  	width: 30px;
  	height: 2px;
  	margin-top: 20px;
}

p {
	font-size: 20px;
	color: white;
	font-family: helvetica, Arial, Verdana, san-serif;
}

a {
	color: none;
	border: none;
}
