#header {
	background-image: url("imgs/stripes1.png");
	background-position: center top;
  	background-repeat:repeat-x;
    width: auto;
    margin-top: 0px;
    margin-left: 0px;
}

#logo {
	margin-top: 250px;
	margin-left: 100px;
}

body {
  	text-align: left;
  	background-image: url("imgs/background.jpg");
  	background-size: cover;
  	background-position: center;
}

hr {
  	color: #ff706e;
  	margin-left: 100px;
  	margin-top: 20px;
  	margin-bottom: 15px;
  	width: 30px;
}

p {
	font-size: 20px;
	margin-left: 100px;
	color: white;
	font-family: helvetica;
}

a {
	margin-left: 100px;
}
