#header {
	background-image: url("imgs/stripes1.png");
	background-position: left top;
  	background-repeat:repeat-x;
    width: 100%;
}

#logo {
	margin-top: 250px;
	margin-left: 100px;
}

body {
  	text-align: left;
  	background-image: url("imgs/background.jpg");
  	background-size: cover;
  	background-position: right-bottom;
  	background-repeat: no-repeat;
  	background-color: #535a6a
}

hr {
  	margin-left: 100px;
  	margin-top: 20px;
  	margin-bottom: 15px;
  	width: 30px;
  	height: 2px;
  	border: 1px solid #ff706e;
  	border-top: 1px solid #ff706e;
  	border-bottom: 1px solid #ff706e;
}

p {
	font-size: 20px;
	margin-left: 100px;
	color: white;
	font-family: helvetica;
}

a {
	margin-left: 100px;
}
