body {
  text-align: left;
  background: url("https://github.com/EricComstock/ericcomstock.github.io/blob/master/unit3_project/img/background.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  font-family: helvetica;
}
hr { 
	width: 50px;
}
p {
	font-size: 15px;
}
a {

}